/**
 * General setup for layout.
 */
html {
    overflow-y: scroll;
    background-color: #424242;
}

body {
    margin: 0;
    background-color: #fff;
    word-wrap: break-word;
}

.outer-wrap {
    margin: 0 auto;
    background-color: #fff;
}

.inner-wrap {
    margin: 0 auto;
    max-width: 680px;
    padding: 0 0.5em;
}

/**
 * Float right
 */
.right {
    float: right;
}

/**
 * Header
 */
.outer-wrap-header {
    max-width: 100%;
    min-height: 2em;
    background-color: #000;
    color: #fff;
}

.outer-wrap-header {
    position: relative;
}

.inner-wrap-header {
    max-width: 100%;
}



/**
 * Navbar
 */
.outer-wrap-navbar {
    max-width: 100%;
    min-height: 2.5em;
    background-color: #535353;
    padding-top: 1em;
    color: #fff;
}

.navbar {
    margin: auto;
    text-align: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 1em 0.5em;
    font-size: 1.2em;
}

.outer-wrap-navbar a:hover {
    color: #ddd;
    background-color: #606060;
}



/**
 * Main
 */
.outer-wrap-main {
    min-height: 20em;
    margin-bottom: 4em;
}

.wrap-main h1 {
    border-bottom: 1px solid #999;
}

.wrap-main h2 {
    border-bottom: 1px solid #ccc;
}

h1 {
    font-size: 2.5em;
}



/**
 * Footer
 */
.outer-wrap-footer {
    max-width: 100%;
    min-height: 10em;
    background-color: #424242;
    color: #fff;
    padding: 1em 0;
}



/**
 * Responsive
 */
@media screen and (max-width: 970px) {
    .header-logo {
        display: none;
    }
}
